<div class="card-deck d-flex flex-row justify-content-center flex-wrap">
  <% @people.each do |person| %>
    <div class='card' style="width: 200px;">
      <%= poster(person) %>
      <div class='card-body'>
        <p class='card-text'>
          <%= person.first_name + " " + person.last_name %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<br>
<%= will_paginate @people %>

<%= link_to 'New Person', new_person_path, class: 'btn' %>
