<div class="card-deck d-flex flex-row justify-content-center flex-wrap">
  <% @movies.each do |movie| %>
    <%= render 'shared/card', object: movie %>
  <% end %>
</div>

<br>
<%= will_paginate @movies %>

<%= link_to 'New Movie', new_movie_path, class: 'btn' %>
